[data-mpc-field]{
  color: inherit;
}
[data-mpc-item]{
  color: inherit;
}
[data-mpc-section]{
  color: inherit;
}
[data-mpc-name]{
  color: inherit;
}
[data-mpc-unwrap]{
  color: inherit;
}
[data-mpc-if]{
  color: inherit;
}
[data-mpc-static]{
  color: inherit;
}
[data-mpc-snippet]{
  color: inherit;
}
[data-mpc-chunk]{
  color: inherit;
}
[data-mpc-include]{
  color: inherit;
}
[data-mpc-parse]{
  color: inherit;
}
[data-mpc-remove]{
  color: inherit;
}
[data-mpc-attr]{
  color: inherit;
}
[data-mpc-symbol]{
  color: inherit;
}
[data-mpc-copy]{
  color: inherit;
}
[data-mpc-nolazy]{
  color: inherit;
}
[data-mpc-cfield]{
  color: inherit;
}
[data-mpc-contact]{
  color: inherit;
}
[data-mpc-ctx]{
  color: inherit;
}
[data-mpc-info]{
  color: inherit;
}
[data-mpc-lim]{
  color: inherit;
}
[data-mpc-off]{
  color: inherit;
}
[data-mpc-nothumb]{
  color: inherit;
}
[data-mpc-thumb]{
  color: inherit;
}
