[data-mpc-field]{
  color: inherit;
}
[data-mpc-item]{
  color: inherit;
}
[data-mpc-section]{
  color: inherit;
}
[data-mpc-name]{
  color: inherit;
}
[data-mpc-unwrap]{
  color: inherit;
}
[data-mpc-cond]{
  color: inherit;
}
[data-mpc-static]{
  color: inherit;
}
[data-mpc-snippet]{
  color: inherit;
}
[data-mpc-chunk]{
  color: inherit;
}
[data-mpc-include]{
  color: inherit;
}
[data-mpc-parse]{
  color: inherit;
}
[data-mpc-remove]{
  color: inherit;
}
[data-mpc-attr]{
  color: inherit;
}
[data-mpc-form]{
  color: inherit;
}
[data-mpc-preset]{
  color: inherit;
}
[data-mpc-symbol]{
  color: inherit;
}
[data-mpc-copy]{
  color: inherit;
}
[data-mpc-sff]{
  color: inherit;
}