/public_html/core/docs/
/public_html/core/elements/
/public_html/manager/
/public_html/core/export/
/public_html/core/lexicon/
/public_html/assets/components/phpthumbof/
/public_html/core/xpdo/
/public_html/assets/components/migx/
/public_html/core/cache/
/public_html/core/components/migx/
/public_html/core/model/
/public_html/.htaccess
/public_html/config.core.php
/public_html/index.php
/public_html/core/components/phpthumbof/
/public_html/core/components/pdotools/
/public_html/core/components/resizer/
/public_html/core/import/
/public_html/connectors/
/public_html/core/config/
/temp/
/public_html/core/error/
/public_html/assets/components/pdotools/
/public_html/core/packages/
/temp/accesses.txt
/public_html/core/ht.access
/.idea/deployment.xml
/.idea/modules.xml
/.idea/mpc2.0.iml
/.idea/php.xml
/.idea/vcs.xml
/.idea/workspace.xml
